accelerate
codetiming
datasets==3.1.0
dill
flash-attn
hydra-core
liger-kernel
numpy
pandas
peft
pyarrow>=15.0.0
pybind11
pylatexenc
ray[default]
tensordict<0.6
torchdata
# transformers
vllm>=0.4.1
# sglang
wandb